<p style="color: green"><%= notice %></p>

<%= render @book %>

<p>
  <%= if @book.image.attached? %>
    <%= image_tag @book.image %>
  <% end %>
</p>

<h2>Review List</h2>
<ul>
    <% @book.book_review.each do |book_review| %>
    <li>
        <%= book_review.review %>
        (<i><%= book_review.user.name if book_review.user%></i>)
    </li>
    <% end %>
</ul>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
