</head>

<body>
  <% if user_signed_in? %>
    <p>こんにちは、<%= current_user.email %></p>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <br>
  <% else %>
    <%= link_to "サインイン", new_user_session_path %>
    <%= link_to "ユーザー登録", new_user_registration_path %>
    <hr></hr>
    <h1>Home Page</h1>
  <% end %>
  <%= yield %>
</body>
</html>